
<!-- include header -->
<%- include('include/_header') %>
<!-- /include header -->

  <!-- Main Site -->
  <main id="site-main">
    <div class="container">
        <div class="box-nav d-flex justify-between">
           <div class="filter">
               <a href="/"><i class="fas fa-caret-left" style="padding-right: 3px;"></i>Return</a>
           </div>
        </div>
        <div class="form-title text-center">
            <h2 class="text-dark">Update Employee Data</h2>
        </div>

        <!-- add user form -->
         <!-- form handling -->
 <form method="POST" id="update_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="<%= user._id %>">
            <input type="text" name="name" value="<%= user.name %>">
        </div>
        <div class="form-group">
            <label for="Posisi" class="text-light">Position</label>
            <input type="text" name="posisi" value="<%= user.posisi%>">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Update Data</button>
        </div>

    </div>
</form>
       
    </div>
</main>
<!-- /Main Site -->

<!-- include footer -->
<%- include('include/_footer') %>
<!-- /include footer -->
